/**
 * @file src/pages/projects/project-card/project-card.module.css
 */

.projectHead {
  justify-content: space-between;
  margin-bottom: var(--space-3);
  align-items: center;
  gap: var(--space-3);
  flex-wrap: wrap;
  display: flex;
}

.projectTitle {
  font-size: var(--type-md);
  margin: 0;
}

.projectBadges {
  gap: var(--space-2);
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;
}

.projectSummary {
  color: var(--color-gray-700);
  margin: 0 0 var(--space-3) 0;
  line-height: 1.5;
}

.split {
  flex-direction: column;
  gap: var(--space-4);
  display: flex;
}

.splitTitle {
  font-size: var(--type-md);
  margin: var(--space-3) 0;
}

.splitCol {
  flex: 1;
}

.splitHeading {
  margin-bottom: var(--space-3);
  color: var(--color-gray-700);
  display: block;
  font-weight: 600;
}

.splitCol ul {
  flex-direction: column;
  gap: var(--space-3);
  display: flex;
  margin: 0;
}

[dir="ltr"] .splitCol ul {
  padding-left: 1.1em;
}

[dir="rtl"] .splitCol ul {
  padding-right: 1.1em;
}

.splitCol ul li {
  line-height: 1.5;
  font-size: 15px;
}

.featureKey {
  color: var(--color-gray-500);
}

.projectFooter {
  justify-content: space-between;
  margin-top: var(--space-4);
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-3);
  display: flex;
}

.caseLink {
  color: var(--color-indigo-600);
  font-weight: 600;
}

/* Responsive Design */

@media (max-width: 900px) {
  .projectBadges {
    gap: var(--space-1);
  }
}
