.footerContainer {
  padding: var(--space-4) 0;
  background: linear-gradient(
    90deg,
    rgba(11, 17, 32, 0.02),
    rgba(123, 60, 255, 0.02)
  );
  text-align: center;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerRow p {
  margin: 0;
}

/* Responsive Design */

@media screen and (max-width: 767px) {
  .footerRow {
    flex-direction: column;
  }
  .footerRow p {
    margin-bottom: var(--space-4);
  }
}
